* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.containerFormulario {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);


}
/* escoder as divs esceto formulário*/
section {
  display: none;
}

#telaFormulario {
  display: block;
}



h1 {
  text-align: center;
}
y
p {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  cursor: pointer;
}
/* estilização pretendentes, cidade filhos e estatus */
.pretendente {
  font-size: 24px;
}

.cidade {
  font-size: 22px;
}

.filhos {
  font-size: 20px;
}

.status {
  font-size: 20px;
}
#resultadoPretendente,
#resultadoCidade,
#resultadoFilhos,
#resultadoStatus {
  text-align: left;
}
#telaConsultando {

  background-image: url("../assets/preparando-destino.jpg");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  min-height: 100vh;
}
/*tesxto sugir tela consulatdo*/
.narrativa{ opacity: 0;     
  transition: opacity 2s ease;    

}
.mostrar{
  opacity: 1;
  transition: opacity 2s ease;
}