* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);


}




h1 {
  text-align: center;
}
y
p {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  cursor: pointer;
}

#resultadoPretendente,
#resultadoCidade,
#resultadoFilhos,
#resultadoStatus {
  text-align: left;
}